.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    margin: auto;
    color:#fff;
    padding: 4px 16px;
    max-width: 480px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
}

.col {
    padding: 0 8px;
}

.form-control {

}